.construction-container {
  height: calc(100vh - 64px - 249.16px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .container {
    height: calc(100vh - 96px );
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}